body {
  background-color: gray;
  font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
}

div.container {
  text-align: center;
  width: 100%;
}

p {
  margin: auto;
  text-align: center;
}

p.space {
  font-size: 300%;
  font-weight: bold;
  padding: 20px;
}

input.player {
  border-radius: 10px;
  box-shadow: 2px 2px;
}
.run {
  border-radius: 40px;
  box-shadow: 4px 4px;
}

.team {
  border-radius: 20px;
  width: 700px;
  font-size: 400%;
  padding: 30px;
}

#gulrank,#sortrank {
  font-size: 50%;
  visibility: hidden;
}

#expect {
  font-size: 200%;
  visibility: hidden;
}

#gul {
  background-color: yellow;
}
#sort {
  background-color: black;
  color: white;
}

body {margin: 0}

#header {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 400%;
  width: 100%;
  background-color: #222;
  text-align: center;
  color: white;
}

.run {
  height: 130px;
  width: 400px;
  font-size: 400%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.player {
  background: lightgray;
  height:60px;
  width: 200px;
  font-size: 200%;
  margin: 6px;
}

#lastteam {
  border-radius: 10px;
  box-shadow: 2px 2px;
  background: lightgray;
  height: 40px;
  width: 200px;
  font-size: 160%;
  margin: 6px;
  margin-top: 30px;
}

#teamresult {
  display: none;
}

#error {
  margin-top: 20px;
  font-size: 200%;
  color: red;
}

#back {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  font-size: 250%;
}
